modules = ["nodejs-20", "web"]
run = "node index.js"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "node index.js"]

[[ports]]
localPort = 4000
externalPort = 80

[workflows]
runButton = "Start Backend Server"

[[workflows.workflow]]
name = "Start Backend Server"
author = 39894131
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node backend/server.js"
