
<% layout("../layouts/boilerplate.ejs") %>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="alert alert-danger text-center">
                <h4>Oops! Something went wrong</h4>
                <p><%= message %></p>
                <a href="/" class="btn btn-primary">Go Home</a>
            </div>
        </div>
    </div>
</div>
