<div id="main">
  <div id="page1">
    <nav>
      <img src="./Image/logo.jpg" alt="logo">
        <div id="nav-2">
            <h4><a href="/login">Login</a></h4>
           <h4><a href="#">Signup</a></h4>
           <h4><a href="#">Management</a></h4> 
        </div>
    </nav>
   </div>
 </div>